.jumbotron {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.table>td, th {
    text-align: center;
}

.form-control {
    margin: 5px auto;
    width: 90%;
}

.btn {
    margin-top: 5px;
}