<!-- 
    Diretivas: Extensões do HTML que permitem a implementação de novos comportamentos, de forma declarativa
    
    ngApp: diretiva que define as "fronteiras" da aplicação, ou seja, o Angular mapeia o DOM, limitando a execução de suas funcionalidades à tag ou elemento
    onde a diretiva foi adicionada.adicionada
    
    Ao encontrar a diretiva, o AngualarJS compila e executa o escopo da diretiva em questão.
    
    ngController: vincula view e controller, através do $scope.$scope
    
    ngBind: Substitui elemento por expressão.
    
    ngRepeat: Uso de coleções ou arrays.
    
    ngModel: Leva dados da View para o $scope. inputs, selects e text areas.
    
    ngClick: diretiva que dispara um evento baseado no evento click.
    
    ngDisable: desabilita um elemento
-->
<!DOCTYPE HTML>
<html ng-app="listaTelefonica">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        
        <title>Lista Telefônica</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" href="css/index.css" title="" type="" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        
        <script src="modules/listaTelefonica.js" type="text/javascript" charset="utf-8"></script>
    </head>
    
    <body ng-controller="listaTelefonicaController">
    
        <div class="jumbotron">
            <div id="divCabeca" class="col-md-12">
                <h4 ng-bind="app"></h4>
            </div>
            
            <div id="divLista" class="col-md-12">
                <table class="table table-striped" id="tbContatos" ng-show="contatos.length > 0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Operadora</th>
                        </tr>
                    </thead>
                        
                    <tbody>
                        <tr ng-repeat="contato in contatos">
                            <td><input type="checkbox" name="" id="" value="" ng-model="contato.selecionado" /></td>
                            <td>{{contato.nome}}</td>
                            <td>{{contato.telefone}}</td>
                            <td>{{contato.operadora.nome}}</td>
                            <td><div class="corContato" ng-style="{'background-color': contato.cor}"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <input class="form-control" type="text" name="nome" id="iNome" value="" placeholder="Seu Nome" ng-model="contato.nome">
            <input class="form-control" type="text" name="telefone" id="iTelefone" value="" placeholder="Seu Telefone" ng-model="contato.telefone">
            
            <select name="" id="" class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma Operadora</option>
            </select>
            
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone" type="button">Adicionar Contato</button>
            
                <button class="btn btn-danger" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)" type="button">Remover Contato</button>
            </div>                
            
            <hr/>
            
            {{contato}}
        </div>
        
        <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>